#dojo {
    width: 400px;
    height: 200px;
    background-color: grey;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
/* display:flex; -> allign-items; -> justyfy content*/
/* justify-content property can be applied to the parent to affect the child elements. In this case when we use 
justify-content on the #dojo it will reposition the ninjas! */